*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;

  color: white;
  background-color: #13161B;


   /* --tw-bg-opacity: 1;
    background-color: rgb(2 6 23 / var(--tw-bg-opacity)); */
}

